.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body{
  flex: auto;
  flex-wrap: wrap;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
<<<<<<< HEAD
  /* background-image:url('./Assets/images/hot-air-balloon-736879.jpg'); */
=======
  background-image:url(/assets/images/hot-air-balloon-736879.jpg);
>>>>>>> cfceb140dc3c1fc5fb6a182334f4c86d8afc6658
  background-position: center;
  }

html{
  box-sizing: border-box;
}

.logo{
position: relative;
}

.nav-bar:hover{
  background-color: #3c3a3a;
  color: white;
}

.nav-bar {
  padding: 7px;
  list-style: none;
  display: inline;
  float: right;
  flex: auto;
  flex-wrap: wrap;    
  
}

.nav-bar li {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  flex: auto;
  flex-wrap: wrap;
  
}

.login{
  
  flex: auto;
  flex-wrap: wrap;
  font-size: 20px;
  border: rgb(166, 146, 146) 2px solid;
  margin-top: 100px;
  margin-left: 450px;
  margin-right: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.423);

}
.dropbtn{
flex: auto;
flex-wrap: wrap;
border: gray solid 2px;
background-color: rgb(211, 209, 209);
font-size: 20px;
}

.login-box{
  margin:10px;
  padding: 10px 10px 10px 10px;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(26, 25, 25);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(66, 66, 66);
  color: #f9f9f9;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:rgb(66, 66, 66);
  color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input, button{
  flex: auto;
  flex-wrap: wrap;
  display: inline ;
  align-items: center;
  text-align: center;
}

.login-button{
  flex: auto;
  flex-wrap: wrap;
  padding: 5px;
}

.login-button:hover{
  flex: auto;
  flex-wrap: wrap;
  background-color: rgb(66, 66, 66);
  color: white;
}



.footer-nav{
  display: flex;
  display: inline;
  line-height: .5;
  
}

footer{
  background-color: #f9f9f9;
  margin-top: auto;
}

.footer{
 position: relative;
 text-align: right;
<<<<<<< HEAD
}


.donate-button {
  background-color: #0057bb;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  padding: 5px 5px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
  .donate-button:hover {
  background-color: white;
  color: #0057bb;
  }
  
  .privacy-content h3 {
  size: 20px;
  font-weight: bold;
  margin: 3px;
  }
  .privacy-text {
  size: 16px;
  padding: 3px;
  text-align:justify;
  line-height: 20px;
  margin: 5px;
  }
  
  .h2-head {
  size: 16px;
  font-weight: bold;
  }
  .support-text {
  size: 16px;
  
  }
  
  .signup-button {
  background-color: blue;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
  .signup-button:hover {
  background-color: white;
  color: blue;
  }
  
  .comment-button {
  background-color: #4CAF50;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
  .comment-button:hover {
  background-color: white;
  color: #4CAF50;
  }
  
  .report-button {
  background-color: #f44336;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
  .report-button:hover {
  background-color: white;
  color: #f44336;
  }
  
  .support-button {
  background-color: #0057bb;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
  .support-button:hover {
  background-color: white;
  color: #0057bb;
  }
=======
}
>>>>>>> cfceb140dc3c1fc5fb6a182334f4c86d8afc6658
